@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
